pkgbase = python-license-expression
	pkgdesc = Utility to parse, normalize and compare license expressions
	pkgver = 30.2.0
	pkgrel = 1
	url = https://github.com/nexB/license-expression
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	depends = python-boolean.py
	source = python-license-expression::git+https://github.com/nexB/license-expression#commit=db2c6539755408a069f4a38d11ee3e7d7f49adde
	b2sums = SKIP

pkgname = python-license-expression
